
mat-toolbar{
    margin-bottom: 15px;
    background-color: antiquewhite;
}

button.mat-mdc-menu-trigger.mdc-button.mat-mdc-button.mat-accent.mat-mdc-button-base {
    height: 100%;
    font-size: initial;
    font-weight: 600;
    color: brown;
}