<div>
  <mat-table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: Colunas;"></mat-row>
  
      <ng-container matColumnDef='{{coluna}}' *ngFor="let coluna of Colunas">
          <mat-header-cell *matHeaderCellDef>{{coluna}}</mat-header-cell>
          <mat-cell *matCellDef="let item">
              <div *ngIf="coluna == 'ID'">{{item.id}}</div>
              <div *ngIf="coluna == 'Nome'">{{item.nome}}</div>
              <div *ngIf="coluna == 'Carga Horária'">{{item.cargaHoraria}}</div>
              <div *ngIf="coluna == 'Professor'">{{item.professor}}</div>
              <div *ngIf="coluna == 'Ação'">
                  <button mat-button (click)="editar(item)"><mat-icon>edit</mat-icon></button>
                  <button mat-button (click)="excluir(item)"><mat-icon>delete</mat-icon></button>
              </div>
          </mat-cell>
      </ng-container>
  </mat-table>
</div>